.red {
  background-color: red;
}
.blue {
   background-color: blue;
 }
 .yellow {
   background-color: yellow;
 }
button {
	width: 80px;
	height: 30px;
	margin-top: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
}
.first {
   background-color: grey;
}